@model Examen_Final_Progra06_Interfaz.Models.Usuario

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="accesoUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label">Usuario:</label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasena" class="control-label">Contraseña:</label>
                <input asp-for="contrasena" class="form-control" type="password" />
                <span asp-validation-for="contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
