@model Examen_Final_Progra06_Interfaz.Models.mDepartments

@{
    ViewData["Title"] = "agregaDepartamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agrega Departamento</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="insDepartamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="DepartmentId" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="obtenerDepartamentos">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
